<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %} {% block styles %}
    <!-- Include your CSS files here -->
    {% endblock %} {% block scripts %}
    <!-- Include your JS files here -->
    {% endblock %}
  </head>
  <body>
    <header>
      <!-- Put your nav bar here -->
    </header>

    <main>
      <!-- Put your main content here -->
      {% block content %} {% endblock %}
    </main>

    {% block footer %}
    <footer>
      <!-- Put your footer content here -->
    </footer>
    {% endblock %}
  </body>
</html>
