{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .table {
      width: 100%;
      margin-top: 30px;
    }
    .table th, .table td {
      border: 1px solid #dee2e6;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="my-4">Interactions</h1>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Recipient Name</th>
          <th scope="col">Interaction Type</th>
          <th scope="col">Interaction Message</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for interaction in interactions %}
        {% set interaction_type = interaction.interaction_type %}
        {% set interaction_id = interaction.id %}
        <tr>
          <td>{{ interaction.recipient.recipient_name }}</td>
          <td>{{ interaction_types[interaction.interaction_type].name }}</td>
          <td>{{ interaction.conversation[-1].content }}</td>
          <td>
            <form id="interaction-form-{{ interaction.id }}">
              <input type="hidden" name="interaction_id" value="{{ interaction.id }}">
              <button type="button" class="btn btn-primary" onclick="sendInteraction(this)" data-interaction-id="{{ interaction.id }}" data-interaction-type="{{ interaction.interaction_type }}">Send</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/interactions.js') }}"></script>
{% endblock %}